apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment
  template:
    metadata:
      labels:
        app: payment
    spec:
      containers:
      - name: payment
        image: payment-service
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8003
---
apiVersion: v1
kind: Service
metadata:
  name: payment
spec:
  type: NodePort
  selector:
    app: payment
  ports:
  - port: 8003
    targetPort: 8003
    nodePort: 30003

